<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <title>Log in</title>
</head>
<body>
    <main>
        <h1>TeachAssist Premium</h1>
        <form action="https://ta.yrdsb.ca/v4/index.php?error_message=0" method="post">
            <label for="username">
                User ID
                <input
                    id="username"
                    name="username"
                    type="text"
                >
            </label>

            <label for="password">
                Password
                <input
                    id="password"
                    name="password"
                    type="password"
                >
            </label>

            <button type="submit" name="submit" value="login">Log in</button>
        </form>
    </main>
</body>
</html>
